/* 重置margin、padding */
body,
header,
main,
aside,
footer,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 重置类表前导符号 */
dl,
ul,
ol,
li,
menu {
  list-style: none;
}

/* 重置链接a标签 */
a {
  color: #666;
  text-decoration: none;
  cursor: pointer;
}

/* element-ui修改 */
/*表头的颜色修改为灰色*/
.el-table__header-wrapper,
.el-table th {
  background: #f2f2f2 !important;
}

//修改下拉菜单样式
.popper__arrow {
  display: none !important;
}

.el-dropdown-menu,
.el-select-dropdown,
.el-popper {
  margin-top: 0 !important;
}

//修复表格横向滚动条
.el-table__body-wrapper,
.el-table__footer-wrapper,
.el-table__header-wrapper {
  width: 101% !important;
}

//取消滚动条
.calSor {
  &::-webkit-scrollbar {
    width: 0px;
    height: 1px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
  }
}

/* 设置样式 */

body {
  background: #f2f2f2;
}

#app {
  height: 100%;
}

.container {
  margin-top: 10px;
  padding: 15px;
  background: #fff;
  box-shadow: 0 0 10px #ccc;
  margin: 0;   //阻止bootstrap冲突
  width: 100%;
}

/* 样式增加 */
.ui-box {
  padding: 15px;
  background: #fff;
}

.ui-bg {
  background: #f2f2f2;
}

.ui-color {
  color: #999;
}

.color-active {
  color: #409eff;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.mb5 {
  margin-bottom: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

/* 清除浮动 */
.clearfix::after {
  content: '';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

/* 新增时，分栏信息P标签样式 */
.infoP {
  padding: 10px 0;
  border-bottom: 2px solid #f2f2f2;
}

// 财务管理echarts修改
.charts .charts-width-mr {
  width: 49.5%;
  margin-right: 1%;
}

.charts .charts-width {
  width: 49.5%;
}

/* 教室设置 弹出窗标题背景色 */
/*教材设置*/
/*教材杂费选择弹窗*/
.classroom .el-dialog,
.lesson .el-dialog {
  border-radius: 10px;
}

.classroom .el-dialog__header,
.book .el-dialog__header,
.lesson .el-dialog__header,
.materialDialog .el-dialog__header {
  background-color: #409eff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.materialDialog .el-dialog__header {
  text-align: center;
}

.classroom .el-dialog__header>span,
.book .el-dialog__header>span,
.lesson .el-dialog__header>span,
.materialDialog .el-dialog__header>span {
  color: #fff;
}

.classroom .el-dialog__headerbtn .el-dialog__close,
.book .el-dialog__headerbtn .el-dialog__close,
.lesson .el-dialog__headerbtn .el-dialog__close {
  color: #fff;
}

/* 新建课程教材 --穿梭表 border */
.materialDialog .el-collapse-item__header,
.materialDialog .el-collapse-item__wrap {
  border: none;
}


/* 学生报名弹窗 */
.studentSignUp .el-dialog--center {
  border-radius: 10px;
}

.studentSignUp .el-dialog__header {
  background-color: #409eff;
  padding: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.studentSignUp .el-dialog__headerbtn {
  top: 15px;
}

.studentSignUp .el-dialog__header>span {
  color: #fff;
  font-size: 16px;
}

.studentSignUp .el-dialog__headerbtn .el-dialog__close {
  color: #fff;
}

.studentSignUp .el-dialog__body {
  padding: 20px 0 30px;
}

/* 缩略图上传  图片素材 */
.impUploadDialog .el-dialog__header {
  border-bottom: 1px solid #999;
}

.impUploadDialog .el-dialog__body {
  padding: 15px 20px;
}
